/* Team Styling */

/* team section container */
.team {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

/* team section content */
.teamDetailsCaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.teamDetailsCaption h1 {
    font-size: 3rem;
}

.teamDetailsCaption p {
    font-size: 1.5rem;
    color: #484747;
    font-weight: 500;
}

/* team member card container */
.teamMembers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

/* each member card */
.teamMemberCard {
    width: 35rem;
    padding: 1rem;
    border: 2px solid #e8e4e4;
    border-radius: .5rem;
    display: flex;
    justify-content: start;
    gap: 2.5rem;
    align-items: center;
}

/* figure inside each card */
.teamMemberCard figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamMemberCard figure img {
    border-radius: 50%;
}

/* text content inside each card */
.teamMemberName {
    font-size: 2rem;
    font-weight: 500;
}

.teamMemberPosition {
    font-size: 1.75rem;
    font-weight: 500;
    color: #565454;
}