/* Popup Styling */

/* Popup content container */
.popupContent {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(.5rem);
    display: flex;
    justify-content: center;
}

/* Container inside popup content container */
.popupContentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
}

/* Cancel button inside popup content box */
.popupContentBox .cancelBtn {
    place-self: end;
    cursor: pointer;
}

/* Popup content box material container */
.popupContentBoxMaterial {
    background-color: #1e90ff;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: .5rem;
}

.popupContentBoxMaterial h1 {
    font-size: 3rem;
}

.popupContentBoxMaterial div {
    font-size: 1.5rem;
    font-weight: 500;
}

/* Button inside the popup content box container */
.popupContentBoxMaterial button {
    place-self: center;
}