@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:wght@500&family=Nunito+Sans:opsz@6..12&family=Open+Sans&family=Raleway&display=swap');


*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}