.dropdown {
    width: 16rem;
}

.dropdownBtn {
    background-color: #1e90ff;
    padding: .75rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid transparent;
}

.dropdownBtn span {
    display: flex;
    justify-content: center;
    align-items: center;

}


.dropdownList {
    background-color: #1e90ff;
    margin-top: .5rem;
    border-radius: .5rem;
}


.dropdownListItem {
    list-style: none;
    padding: .75rem 1rem;
}

.dropdownListItem span {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.5rem;
    transition: .1s;
}