.dropdown {
    width: 16rem;
}

/* Opening/Closing Dropdown button */
.dropdownBtn {
    background-color: #1e90ff;
    padding: .75rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid transparent;
}

/* dropdown icon change on open/close */
.dropdownBtn span {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* dropdown list container */
.dropdownList {
    background-color: #1e90ff;
    margin-top: .5rem;
    border-radius: .5rem;
}

/* each item inside the dropdown list container */
.dropdownListItem {
    list-style: none;
    padding: .75rem 1rem;
    cursor: pointer;
}

/* span text of each item inside the dropdown list container */
.dropdownListItem span {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.5rem;
    transition: .1s;
}